<div class="chat-content custom-scrollbar pb-2" #chatContent>

  <div *ngFor="let m of chat.messages; let i = index">
    <div *ngIf="m.messageType === 'USER'" class="message"
         [class.mt-3]="i !== 0"
      [ngClass]="m.user.username === getUsernameFromStorage() ? 'my-message' : 'another-message'">
      <div class="message-info">
        <div class="message-user">{{ m.user.username }}</div>
        <span class="message-time">{{ formatTime(m.time) }}</span>
      </div>
      <div class="message-content">{{ m.message }}</div>
    </div>
    <div *ngIf="m.messageType === 'SYSTEM'"
         [class.mt-3]="i !== 0"
         class="system-message">
      <div>{{m.message}}</div>
    </div>
  </div>

</div>

<div class="input-group">
  <input id="message-input" type="text" class="form-control" placeholder="Write a message..." [(ngModel)]="message" (keyup.enter)="sendMessage()">
  <button class="btn btn-main btn-scale" type="button" (click)="sendMessage()">Send</button>
</div>
