<div class="container d-flex align-items-center justify-content-center min-vh-100">
  <form [formGroup]="registerForm" (ngSubmit)="register()" style="width: 50%">

    <div class="mb-3">
      <label for="firstname" class="form-label">FirstName</label>
      <input type="text" class="form-control" id="firstname" formControlName="firstname">
    </div>

    <div class="mb-3">
      <label for="lastname" class="form-label">LastName</label>
      <input type="text" class="form-control" id="lastname" formControlName="lastname">
    </div>

    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input type="text" class="form-control" id="username" formControlName="username">
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" formControlName="email" aria-describedby="emailHelp">
    </div>

    <div *ngIf="!emailIsValid" class="text-danger mb-3">
      Invalid email
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" minlength="6" id="password" formControlName="password">
    </div>

    <div *ngIf="!passwordLengthValid" class="text-danger mb-3">
      Password min length is 6
    </div>

    <div class="mb-3">
      <label for="confirmPassword" class="form-label">Confirm password</label>
      <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword">
    </div>

    <div *ngIf="!passwordsMatch" class="text-danger mb-3">
      Password mismatch
    </div>

    <div *ngIf="errorMessage" class="mb-3 text-danger text-center">
      <strong>{{errorMessage}}</strong>
    </div>

    <button type="submit" class="btn btn-primary w-100">SIGN UP</button>

  </form>
</div>

