.group-info-section {
  margin-top: 1rem;

  .group-people {
    cursor: pointer;
  }
}

.movie-info, .series-info {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}

// TODO display season and episode correctly
.series-info {
  padding-top: 1rem;
}

.group-settings {

  svg {
    color: #b1d6fd;
    cursor: pointer;
  }

  .settings-list {
    margin-right: .5rem !important;
    background: none;
    border-color: #b1d6fd;
    padding: 0;

    a {
      color: #b1d6fd;
      cursor: pointer;

      &:hover {
        color: #080c2c;
      }
    }
  }
}

.content {
  //padding-top: 2rem;
}

.synchronize-button {
  padding-bottom: 1rem;
}

.seasons, .season-episodes {
  display: flex;
  flex-wrap: wrap;
  width: 70%;

  div:not(:last-child) {
    margin-right: 0.3rem;
  }
}

.seasons {
  div {
    margin-bottom: 0.1rem;
  }
}

.season-episodes {
  div {
    margin-top: 0.1rem;
  }
}

.btn-selected {
  color: #b4cfe6;
  border: none;
  min-width: 6rem !important;
  border-radius: 0;
  font-weight: 600;

  background: rgba(43,41,133,1);
}

.season-btn {
  min-width: 6rem;
  color: #b4cfe6;
  border: none;
  border-radius: 0;
  font-weight: 600;

  background: rgba(24,4,96,1);
  transition: ease 0.5s;

  &:hover {
    color: #b4cfe6;
    background: rgba(43,41,133,1);
  }
}

.save-btn {
  font-weight: 600;
  color: #b1d6fd;
  border: none;

  background: rgb(154,25,209);
  background: linear-gradient(134deg, rgba(154,25,209,1) 0%, rgba(185,21,196,1) 81%);

  &:hover {
    color: black;
  }
}

app-video-player {
  width: 70%;
}

app-chat {
  width: 30%;
}

.modal-content {
  color: #b1d6fd;
  background: #080c2c;

  .header {
    padding: 1rem 1rem 0 1rem;
  }

  .user-item {
    padding: 0 1rem;
    margin-bottom: 1rem;

    .user-username {
      font-size: 1.5rem;
      font-weight: 400;
    }
  }

  .line {
    margin: 1rem;
  }

  svg {
    cursor: pointer;
  }

  button {
    min-width: 5rem;
  }

  hr {
    margin: 1rem 0;
    color: inherit;
    background-color: currentColor;
    border: 0;
    opacity: 0.25;
  }

  .add-members {
    margin: 1rem;
  }
}

.svg-element {
  svg {
    height: 1.5rem;
    margin-left: .2rem;
    fill: #b1d6fd;
  }

  a {
    cursor: pointer;
    background: rgb(43,41,133);
    background: linear-gradient(119deg, rgba(43,41,133,1) 0%, rgba(56,4,96,1) 91%);
    padding: .5rem;
    border-radius: 20%;
  }
}

.custom-checkbox {
  height: 1.5rem;
  width: 1.5rem;
}

.movie-settings-modal {
  .movie-settings-body {
    margin: 1rem;
  }
}

.admin-actions {
  ul {
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 10px;

    font-size: 18px;

    .privileges {
      color: #b1d6fd;
      background: rgb(43,41,133);
      background: linear-gradient(119deg, rgba(43,41,133,1) 0%, rgba(56,4,96,1) 91%);
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      border-bottom: 1px solid #b1d6fd;
    }
  }

  .form-check {
    text-align: start;

    input {
      cursor: pointer;
    }
  }

  .remove-button {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;

    font-size: 18px;
    font-weight: normal;
  }
}
