<app-navbar></app-navbar>

<div class="bg-image-primary text-color-primary">
  <div class="container">
    <div class="content">

      <div class="row">

        <div class="col-lg-6 d-flex justify-content-center">
          <img src="../../../assets/wmt_logo.png" class="img-fluid">
        </div>

        <div class="col-lg-6 text-center d-flex flex-column justify-content-center text-content">
          <h2 class="mb-4">Watch Movies Together</h2>
          <div>
            Watch Movie Together is a free service that enables you to watch shows and movies from
            <a href="https://rezka.ag/" class="text-color-primary">hdrezka</a>
            streaming platform in perfect sync
          </div>

          <div class="buttons mt-5">
              <button class="btn btn-primary bg-color-primary">Get started now</button>
              <button class="btn btn-primary bg-color-primary">Learn More</button>
          </div>

        </div>

      </div>

    </div>

    <div class="row text-center">
      <h2>New movies</h2>
    </div>

    <div class="movie-items row">

      <div class="movie-item col-lg-2">
        <a class="" data-id="57884" href="/series/drama/57884-zahvachennyy-reys-2023.html">
          <div class="">
            <img src="https://static.hdrezka.ac/i/2023/5/31/cf2b25aabaceflm77f63l.jpg" height="200" width="150" alt="Movie">
          </div>
          <div class="">Сша, Драмы</div>
        </a>
      </div>

      <div class="movie-item col-lg-2">
        <a class="" data-id="57884" href="/series/drama/57884-zahvachennyy-reys-2023.html">
          <div class="">
            <img src="https://static.hdrezka.ac/i/2023/5/31/cf2b25aabaceflm77f63l.jpg" height="200" width="150" alt="Movie">
          </div>
          <div class="">Сша, Драмы</div>
        </a>
      </div>

    </div>



  </div>

</div>
<app-footer></app-footer>
