.content {
  padding: 5rem 0;
}

.buttons {
  display: flex;
  justify-content: center;

  button:not(:last-child) {
    margin-right: 30px;
  }
}

.text-content {
  align-items: center;
  justify-content: center;

  div {
    max-width: 80%;
  }
}

.film-item {
  a {
    width: 150px;
    color: #b1d6fd;
    text-decoration: none;
  }

  .film-item-text {
    max-width: 150px;
  }
}

@media (max-width: 991px) {
  .film-item {
    margin-bottom: 2rem;
  }
}
