<app-navbar></app-navbar>

<div class="text-color-primary">
  <div class="container">
    <div class="content">

      <div class="row">

        <div class="col-lg-6 d-flex justify-content-center">
          <img src="../../../assets/wmt_logo.png" class="img-fluid" width="500" alt="logo">
        </div>

        <div class="col-lg-6 text-center d-flex flex-column justify-content-center text-content">
          <h2 class="mb-4">Watch Movies Together</h2>
          <div>
            Watch Movie Together is a free service that enables you to watch shows and movies from
            <a href="https://rezka.ag/" class="text-color-primary">hdrezka</a>
            streaming platform in perfect sync
          </div>

          <div class="buttons mt-5">
              <button class="btn btn-main btn-scale" routerLink="/groups">Get started now</button>
              <button class="btn btn-main btn-scale">Learn More</button>
          </div>

        </div>

      </div>

    </div>

    <div class="text-center mb-3">
      <h2>New releases</h2>
    </div>

    <div class="film-items row mb-3">

      <div class="d-flex flex-column align-items-center film-item col-lg-2 col-md-4 col-sm-6 col-12" *ngFor="let item of lastReleases;">

        <div class="film-item-content d-flex flex-column">
          <a class="film-item-img" [href]="item.movieUrl" target="_blank">
            <img class="film-item-img" [src]="item.imgUrl" height="200" width="150" alt="film">
          </a>
          <div class="film-item-text d-flex flex-column">
            <div class="film-item-name">{{ item.name }}</div>
            <div class="film-item-info">{{ item.additionalInfo }}</div>
          </div>
        </div>

      </div>

    </div>

  </div>

</div>
