.content {
  padding: 5rem 0;
}

.buttons {
  display: flex;
  justify-content: center;

  button:not(:last-child) {
    margin-right: 30px;
  }
}

.text-content {
  align-items: center;
  justify-content: center;

  div {
    max-width: 80%;
  }
}
