<app-navbar></app-navbar>
<section class="">

  <div class="container pt-3">

    <div *ngIf="createGroup; else content">
      <div class="back-to-content text-start">
        <a class="btn btn-main" (click)="createGroup = false">Back</a>
      </div>
      <app-group-form></app-group-form>
    </div>

    <ng-template #content>
      <div class="group-page">

        <div class="create-group text-end">
          <a class="btn btn-main" (click)="createGroup = true">Create New Group</a>
        </div>

        <div class="group-items mt-5 list-group d-flex justify-content-center">
          <app-group *ngFor="let group of groups" [group]="group">
          </app-group>
        </div>

      </div>

    </ng-template>




  </div>

</section>
