svg {
  fill: #b1d6fd;

  transition: transform 0.5s;
  &:hover {
    transform: scale(1.5);
  }
}

.main-items {
  li:not(:last-child) {
    margin-right: 0.5rem;
  }
}

.eye {
  svg {
    margin-top: -0.1rem;
  }
}

.username {
  padding-left: 0.3rem;
}

.logo {
  font-weight: 800;
}

.profile {
  cursor: pointer;

  ul {
    padding: 0;
    background: transparent;
    border: 1px solid #b1d6fd;

    a {
      color: #b1d6fd;

      &:hover {
        border-radius: 2px;
        background: #b1d6fd;
        color: black;
      }
    }
  }
}

.dropdown-toggle::after {
  content: none;
}
