video {
  //width: 100%;
  //height: 100%;
}

.video-player-wrapper {
  width: 100%;
  height: 100%;
  color: white;
}

//vg-volume {
//  height: 10px;
//}

.disabled {
  pointer-events: none;
}

vg-player {
  border-radius: 10px;
}

vg-controls {
  background: transparent;
}

vg-scrub-bar {
  margin-top: -2px;
  vg-scrub-bar-current-time {
    height: 20%;
    border: 1px solid white;
    border-radius: 10px;
  }

  vg-scrub-bar-buffering-time {
    height: 20%;
    border-radius: 10px;
  }
}

vg-scrub-bar-current-time .background {
  background-color: green !important;
}

.time-display {
  //margin-bottom: -5px;
  .time-divider {
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    font-size: 20px;
    margin-top: -10px;
  }
}

.quality {
  margin-left: 15px;
  cursor: pointer;

  .dropdown-menu {
    background: rgba(8, 12, 44, 0.5);
    padding: 0;
    border: none;
    a {
      color: white;

      &:hover {
        background: rgba(177, 214, 253, 0.5);
        color: black;
        font-weight: 600;
      }
    }
  }

  .selected-resolution {
    background: rgba(177, 214, 253);
    font-weight: 600;
    a {
      color: black;
      font-weight: 600;
    }
  }
}
