<div class="container d-flex align-items-center justify-content-center min-vh-100">
  <form [formGroup]="loginForm" (ngSubmit)="login()" class="w-50 text-color-primary">

    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input type="text" class="form-control" id="username" formControlName="username">
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" formControlName="password">
    </div>

    <div *ngIf="errorMessage" class="mb-3 text-danger text-center">
      <strong>{{errorMessage}}</strong>
    </div>

    <div class="mb-3 text-end">
      <a href="/">Forgot password?</a>
    </div>

    <button type="submit" class="btn btn-main w-100">SIGN IN</button>

    <div class="text-center mt-3">
      <div>Not a member?
        <a routerLink="/register">Register</a>
      </div>
    </div>

  </form>
</div>

