.friend-items {
  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  .friend-item {
    background-color: #080c2c;
    border-radius: .5rem;
    padding: .5rem;
    width: 100%;

    .actions {
      cursor: pointer;

      .dropdown-menu {
        background: transparent;
        border: 1px solid #b1d6fd;

        :not(:last-child) {
          border-bottom: 1px solid #b1d6fd;
        }

        padding: 0;
        a {
          padding: .5rem;
          color: #b1d6fd;

          &:hover {
            color: black;
            background: #b1d6fd;
          }
        }
      }
    }
  }
}

.modal-content {
  color: #b1d6fd;
  background: #080c2c;

  .header {
    padding: 1rem 1rem 0 1rem;
  }

  .group-item {
    padding: 0 1rem;
    margin-bottom: 1rem;

    .group-name {
      font-size: 1.5rem;
      font-weight: 400;
    }
  }

  .line {
    margin: 1rem;
  }

  svg {
    cursor: pointer;
  }

  button {
    min-width: 5rem;
  }

  hr {
    margin: 1rem 0;
    color: inherit;
    background-color: currentColor;
    border: 0;
    opacity: 0.25;
  }
}
