.movie-settings {
  button {
    width: 15em;
  }

  position: relative;
}

.btn-selected {
  font-weight: 600;
  color: black;
  border: none;

  background: rgb(154,25,209);
  background: linear-gradient(134deg, rgba(154,25,209,1) 0%, rgba(185,21,196,1) 81%);

  &:hover {
    color: black;
  }
}

.buttons {
  div {
    &:not(:last-child) {
      margin-bottom: .5rem;
    }
  }
}

.update-info-btn {
  position: absolute;
  bottom: 0;
  right: 0;
}
