.text-color-primary {
  color: #b1d6fd;
}

.bg-color-primary {
  background-color: #080c2c;
}

.bg-color-secondary {
  background-color: #0f1b36;
}

.bg-image-primary {
  background-image: url("./assets/main-bg.jpg");
  background-size: cover;
}

.btn-main {
  color: #b1d6fd;
  border: none;
  //border-color: rgba(56,4,96,1);
  font-weight: 600;

  background: rgb(43,41,133);
  background: linear-gradient(119deg, rgba(43,41,133,1) 0%, rgba(56,4,96,1) 91%);
  transition: ease 0.5s;

  &:hover {
    color: #b1d6fd;
    background: rgb(24,4,96);
    background: linear-gradient(119deg, rgba(24,4,96,1) 0%, rgba(43,41,133,1) 91%);
    scale: 1.2;
  }
}

.btn-main-no-hover {
  color: #b1d6fd;
  border: none;
  font-weight: 600;

  background: rgb(43,41,133);
  background: linear-gradient(119deg, rgba(43,41,133,1) 0%, rgba(56,4,96,1) 91%);

  &:hover {
    color: #b1d6fd;
  }
}
