<app-navbar xmlns="http://www.w3.org/1999/html"></app-navbar>

<div class="container mt-3">

  <div *ngIf="createGroup; else content">
    <div class="back-to-content text-start">
      <a class="btn btn-primary" (click)="createGroup = false">Back</a>
    </div>
    <app-group-form></app-group-form>
  </div>

  <ng-template #content>
    <div class="create-group text-end">
      <a class="btn btn-primary" (click)="createGroup = true">Create New Group</a>
    </div>

    <div class="group-items">

      <div class="d-flex justify-content-around group-item">

      </div>

    </div>
  </ng-template>




</div>

<app-footer></app-footer>
